@import "../components/colors";
.contacto{
  background-image:url(../../img/header/violet-black.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: .1em;

  h2{
    font-family: "Marcellus", serif;
    font-size: 2em;
    margin-top: 1em;
  }


  .form__contacto{
    width: 90%;
    margin: 0 auto;
    &__input{
      width: 90%;
      margin: .5em 0;
      height: 2.5em;
      border-radius: 5px;
    }
  }
  .button{
    background-color: $color-background;
    border: 1px solid $color-background;
    margin: 1em;
    padding: .4em;
    font-size: 1.2em;
  }
}
