
$color-header: #030303;
$color-footer: #000000;
$color-rosa: #b44bac;
$color-search: #ffffff;
$color-card-grey:#131212;
$color-card-letras:#cecece;
$color-background:#4a294b;
$color-table-background:#791179;
