@import "colors";
@import "../base/typography";

/* ------------------------------------------------- */
/* NAVBAR                                            */
/* ------------------------------------------------- */

.nav-bar {
    background-color: $color-header;

    &__nav-list {
        /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        justify-content: center;
        height: 2.5em;
        margin: 0;
        background-color: $color-header;
        border-top: 1px #fff double;

        @media (max-width: 768px) {
            & {
                flex-direction: column;
                margin: 3em 0;
                width: 100%;
                padding: 0;
            }
        }
    }

    &__nav-item {
        text-align: center;
        background-color: $color-header;

        :hover {
            color: $color-rosa;
        }
    }

    &__nav-link {
        margin: 0em 0;
        display: block;
        background-color: $color-header;
        color: $color-search;
        font-size: 1.6em;
        padding: 0em 1.8em;
        text-decoration: none;


    }


    @media (max-width: 768px) {
        & {
            display: none;
        }
    }
}
