@import "colors";

table.tabla-alta {
    border-collapse: collapse;
    width: 90%;
    margin: 1rem auto;

    th, td {
        border: 1px solid #d4d4d4;
        padding: 8px;
        text-align: center;    
    }

    th {
        color: #ffffff;
        background-color:$color-table-background;
    }

}    

